.app-container {
  margin: 0 auto;
  max-width: 100vw;
}

.app-header {
  margin: 24px 0;
  text-align: center;
}

.app-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
